body{
    margin:0;
    padding:0;
}
header {
    height:67px;
    background-color:#cc0001;
    line-height:67px;
}
#logo {
    color:#fff;
    margin-left:176px;
    font-size:38px;
    float:left;
}
ul,li {
    margin:0;
    padding:0;
}
#menu {
    color: #FFF;
    float: right;
    margin-right: 178px;
    font-size: 17px;

}
#menu li {
    display: inline-block;
    padding: 0 21px;
    font-size: 16px;
}

#menu li>a {
    color: #FFF;
    text-decoration: none;
}

#menu li:hover>a {
    text-decoration: underline;
}
#menu li.current>a {
    color: #CA0007;
}

#menu li.current{
    background-color:#ffffff;
    color:#ca0007;
}


#gallery {
    height: 300px;
    background-color: #4697c4;
    height: 437px;
    position: relative;
}
#gallery .middlepic{
    width: 1501px;
    height: 437px;
}

#gallery .pics {
    position: absolute;
}

#gallery .pics pre{
    margin:169% 115% ; width:59px;
}


#gallery .bar {
    position: absolute;
    top: 365px;
    left: 217px;
}

#gallery .bar li {
    display: inline-block;
    border-top: 5px solid #FFF;
    width: 41px;
}

#gallery .bar li.current {
    border-color: #CA0007;
}

#middle ul {
    text-align: center;
    margin-top: 52px;
    margin-bottom: 43px;
}
#middle tubiao{
    height:5;
    width:4;
}
#middle li {
    display: inline-block;
    height: 157px;
    width: 157px;
    background: #0CF;
    border-radius: 100%;
    margin: 0 43px;
}
#down_context {
    background-color: #f3f3f3;
    width: 100%;
    height: 349px;
}
#down_context .news{
    display: inline-block;;
    width: 292px;
    height: 349px;
    margin-left: 176px;
    float: left;
    background-color:#f3f3f3;
}
#down_context .news p{
    font-size:22px;
    padding-left: 9px;
    color: #d33733;
}
#down_context .news .news_p{
    background:#f3f3f3;
    width: 292px;
    height: 225px;
}
#down_context .middle{
    width: 497px;
    height: 348px;
    float: left;
    background-color:#f3f3f3;
}
#down_context .right{
    width: 233px;
    height: 321px;
    float: left;
    margin-left: 16px;
    margin: 28px;
    background-color:#f3f3f3;
}
#down_context .title{
    background-color:#f3f3f3;
    width: 169px;
    height: 61px;
    float: right;
}
#down_context .btn{
    margin-top: 32px;
    float: right;
    height: 29px;
    width: 84px;
    display: inline-block;
    background: red;
}

#shao{
    width: 270px;
    height: 275px;
}
#i{
    width: 52px;
    padding-top: 15px;
    color:white;
    margin: 20px 54px;
}
#span{
    color:white;
}
#down_context .second{
    margin-top: 70px;
    margin-left: 19px;
}
#down_context .third{
    margin-top: 34px;
}
#down_context .third a{
    text-decoration: none;
}
#down_context .list{
    margin:3px;
}
#down_context .btn{
    margin-top: 32px;
    float: right;
    height: 29px;
    width: 84px;
    display: inline-block;
    background: red;
}
#yang{
    width: 289px;
    height: 227px;

}
#shao{
    width: 270px;
    height: 275px;
}

#down_context .right ul {
    margin-top: 19px;
    margin-left: 6px;
}
#down_context .right li {
    display: inline-block;
    height: 59px;
    width: 205px;
    border-radius: 4%;
    margin-top: 9px;
}
#lione {
    background:#9270cf;
}
#litwo{
    background:#d09872;
}
#lithree {
    background:#70cece
}
#lifour{
    background:#cf7092;
}

#lione .butone{
    color:white;
    margin: 17px 22px;
    font-size: 8px;
}
#litwo .buttwo{
    color:white;
    margin: 17px 22px;
    font-size: 8px;
}
#lithree .butthree{
    color:white;
    margin: 17px 22px;
    font-size: 8px;
}
#lifour .butfour{
    color:white;
    margin: 17px 22px;
    font-size: 8px;
}

#lione p{
    color: white;
    font-size: 17px;
    float: right;
    width: 96px;
    margin: 0px;
}
#litwo p{
    color: white;
    font-size: 17px;
    float: right;
    width: 96px;
    margin: 0px;
}
#lithree p{
    color: white;
    font-size: 17px;
    float: right;
    width: 96px;
    margin: 0px;
}
#lifour p{
    color: white;
    font-size: 17px;
    float: right;
    width: 96px;
    margin: 0px;
}

#low{
    background-color: #fff;
    width: 100%;
    height: 654px;
}
#low .anli{
    width: 100%;
    height: 66px;
    background-color: white;
}
#low .anli p{
    margin: 25px 174px;
    padding: 25px 0px;
}
#low .sixp{
    background-color: #FFF;
    width: 100%;
    height: 381px;
}
#low .sixulone{
    height: 186px;
    width: 86%;
      margin: 0px 200px;
      background-color: #fff;
}
#low .sixulone li{
      display: inline-block;
      height: 166px;
      width: 326px;
      background: #0CF;
      margin: 13px 5px;
}

#low .sixultwo{
    height: 186px;
    width: 86%;
      margin: 0px 200px;
      background-color: #fff;
}
#low .sixultwo li{
      display: inline-block;
      height: 166px;
      width: 326px;
      background: #0CF;
      margin: 13px 5px;
}
#onep{
    width: 326px;
    height: 166px;
}
#low .hezuo{
    height: 60px;
    width: 704px;
    background-color: #fff;
}
#low .hezuo p{
    margin: 25px 174px;
}
#low .sixhe{
    height: 86px;
    width: 1079px;
    margin-left: 178px;
    background-color: #fff;
}
#low .sixpone{
    background-color: #fff;
width: 134px;
height: 47px;
float: left;
margin: 12px 39px 0px 0px;
}
#footone{
    background-color: #4c4c4c;
height: 45px;
text-align: center;
line-height: 3;
}
#foottwo{
    background-color: #313131;
    height: 48px;
    text-align: center;
    color: white;
    line-height: 3;
}
#footone a{
    color: #fff;
    margin: 2px 9px;
    text-decoration: none;
}
