body{
    margin:0;
    padding:0;
}
header {
    height:64px;
    background-color:#cc0001;
    line-height:67px;
}
#logo {
    color:#fff;
    margin-left:176px;
    font-size:38px;
    float:left;
}
ul,li {
    margin:0;
    padding:0;
}
#menu {
    color: #FFF;
    float: right;
    margin-right: 178px;
    font-size: 17px;

}
#menu li {
    display: inline-block;
    padding: 0 21px;
    font-size: 16px;
}

#menu li>a {
    color: #FFF;
    text-decoration: none;
}

#menu li:hover>a {
    text-decoration: underline;
}
#menu li.current>a {
    color: #CA0007;
}

#menu li.current{
    background-color:#ffffff;
    color:#ca0007;
}


#gallery {
    height: 300px;
    background-color: #4697c4;
    height: 437px;
    position: relative;
}

#gallery .pics {
    position: absolute;
}

#gallery .pics pre{
    margin:169% 115% ; width:59px;
}


#gallery .bar {
    position: absolute;
    top: 365px;
    left: 217px;
}

#gallery .bar li {
    display: inline-block;
    border-top: 5px solid #FFF;
    width: 41px;
}

#gallery .bar li.current {
    border-color: #CA0007;
}

#middle ul {
    text-align: center;
    margin-top: 52px;
    margin-bottom: 43px;
}
#middle li {
    display: inline-block;
    height: 157px;
    width: 157px;
    background: #0CF;
    border-radius: 100%;
    margin: 0 43px;
}
#down_context {
    background-color: #f3f3f3;
    width: 100%;
    height: 349px;
}
#down_context .news{
    display: inline-block;;
    width: 292px;
    height: 349px;
    margin-left: 176px;
    float: left;
    background-color:#f3f3f3;
}
#down_context .news p{
    font-size:22px;
    padding-left: 9px;
}
#down_context .news .news_p{
    background:#4697c4;
    width: 292px;
    height: 225px;
}
#down_context .middle{
    width: 497px;
    height: 348px;
    float: left;
    background-color:#654321;
}
#down_context .right{
    width: 244px;
    height: 349px;
    float: left;
    background-color:#123456;
}
#down_context .title{
    background-color:red;
    width: 169px;
    height: 61px;
    float: right;
}
